.table {
	display: block;
	max-height: 60vh;
	overflow: auto;

	thead {
		white-space: nowrap;
	}

	th:first-child:after {
		content: 'Code';
	}

	th:nth-child(2):after {
		content: 'Rate';
	}

	th:nth-child(3):after {
		content: 'Name';
	}

	th:nth-child(4):after {
		content: 'Used in';
	}
}

@media only screen and (max-width: 1200px) {
	.table {
		th {
			width: 1%;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.table {
		th:first-child:after {
			content: 'Code';
		}

		th:nth-child(2):after {
			content: 'Exchange Rate';
		}

		th:nth-child(3):after {
			content: 'Currency Name';
		}

		th:nth-child(4):after {
			content: 'Countries using';
		}
	}
}
