.currency {
	th:nth-child(2),
	td:nth-child(2) {
		min-width: 120px;
	}

	th:first-child:after {
		content: 'Code';
	}

	th:nth-child(2):after {
		margin-left: 0.5rem;
		content: 'Rate';
	}

	th:nth-child(3):after {
		content: 'Name';
	}

	th:nth-child(4):after {
		content: 'Used in';
	}

	@media only screen and (min-width: 1200px) {
		th:nth-child(2),
		td:nth-child(2) {
			min-width: 160px;
		}

		th:first-child:after {
			content: 'Code';
		}

		th:nth-child(2):after {
			content: 'Exchange Rate';
		}

		th:nth-child(3):after {
			content: 'Currency Name';
		}

		th:nth-child(4):after {
			content: 'Countries using';
		}
	}
}
