.directory {
	min-height: 24px;
	margin: 0 0.5rem;

	> div {
		display: inline-block;

		> span {
			display: inline-block;
			margin: 0 0.5rem;
		}
	}

	a {
		color: var(--bs-blue);
		text-decoration-color: transparent;
		transition: 0.15s ease-in-out;

		&:hover {
			filter: brightness(75%);
			text-decoration-color: var(--bs-blue);
		}
	}
}
