.container {
	display: flex;
	flex-direction: column;
	min-width: 576px;
	min-height: 100vh;
	background-color: var(--bs-gray-200);
}

.content {
	flex: 1;
	justify-content: center;
	margin: 1rem;
}

.title {
	line-height: 1.15;
	font-size: 2rem;
	text-align: center;

	a {
		color: var(--bs-light);
		text-decoration: none;
	}

	.github {
		float: right;
		margin: 4px 0;

		a {
			display: block;
			color: var(--bs-light);
			padding: 4px;
		}

		svg {
			display: block;
			box-sizing: content-box;
			border-radius: 50%;
			padding: 1px;
			background-color: var(--bs-light);
			fill: var(--bs-dark);
		}
	}
}

.home {
	li {
		padding: 0;

		&:hover {
			filter: brightness(95%);
		}

		&:active {
			filter: brightness(90%);
		}
	}

	li:nth-child(1n) {
		color: #664d03;
		background-color: #fff3cd;
	}

	li:nth-child(2n) {
		color: #055160;
		background-color: #cff4fc;
	}

	li:nth-child(3n) {
		color: #842029;
		background-color: #f8d7da;
	}

	li:nth-child(4n) {
		color: #084298;
		background-color: #cfe2ff;
	}

	li:nth-child(5n) {
		color: #0f5132;
		background-color: #d1e7dd;
	}

	a {
		display: block;
		color: inherit;
		text-decoration: none;
		width: 100%;
		padding: 0.5rem 1rem;
	}
}
