.nav {
	max-width: fit-content;
	text-align: end;
	height: fit-content;
	padding: 0.25rem;

	a {
		display: block;
		width: 120px;
		padding: 0.1rem 0.25rem;
		text-decoration: none;
		color: var((--bs-dark));
		transition: 0.25s ease;
		background-color: var((--bs-gray-200));

		&:hover {
			filter: brightness(90%);
		}
	}
}
