.nav {
	max-width: fit-content;
	text-align: end;
	height: fit-content;
	padding: 0.25rem;
	border-radius: 0.25rem;
	background-color: var((--bs-light));

	a {
		width: 120px;
		padding: 0.25rem 0.5rem;
		text-decoration: none;
		color: var((--bs-dark));
		border-radius: 0.25rem;
		transition: 0.25s ease;

		&:hover {
			filter: brightness(90%);
			background-color: var((--bs-gray-300));
		}
	}
}
